/* Navigation Section */

html {                              /* Examine pre/post */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div {
  border: 1px solid Chocolate;
}

.links {
  float: right;
  /*box-sizing: border-box; ???!!! */
}

.links li {
  display: inline-block;
  list-style-type: none;
  margin-top: -2em;
  padding: 0 1.2em 0 0;
  

}

.content {
  padding: 0px 15px;
}

.top-navigation {
  background-color: #fff;
}

.top-navigation > .content {
  width: 60.625em;
  height: 4.375em;
  margin: 0 auto;
  margin-left: 4.2em;
  padding-top: 0.70em;
}

/* Primary section */

body {
  background-color: LightGray;
}

/* Font/color section */

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: none;
}

.top-navigation .links > .active {
  color: #4c5058;
  font-weight: 500;
}

/* Primary Section */

/* Changing to div/button #learnmore {
  display: inline-block;
  border: 2px solid;
  border-radius: 25px; */
}

#primary {
  text-align: center;
}
