/* General/all */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Navigation section */

.top-navigation {
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #ddd;
    z-index: 9999;
}

.logo {
    margin-left: 14px;
    height: 70px;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

/* Primary section */

.introduction {
    background-image: url('../images/primary.jpeg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938em;
    overflow: auto;
    
}

.content {
    color: white;
    text-align: center;
    margin-top: 17em;
}

.bigbutton {
    text-shadow none;
    border-style: none;
    border-radius: 4px;
    line-height: 1.33;
    background-color: #f15a29;
    border-color: #f15a29;
    display: block;
    margin: 0 auto; /* Set display to block prior to using auto margin */
    width: 10em;
    height: 4.2em;
    /* Add hover color change+new cursor */
}